table{
    border-collapse: collapse;
}

td{
    border: 1px solid #aaaaaa;
}

th{
    background-color: gray;
    border: 1px solid black;
}

caption{
    border: 1px solid black;
}

td, th{
    text-align: center;
    padding: 0.5em;
}